-pages = ['inicio','nosotros','servicios','portafolio','contacto']
-pageTitle = 'Inicio'
-currentPage = 'inicio'
-siteTitle = 'Creativos ABC'
-description = 'Bienvenidos al sitio web de Creativos ABC'
-siguenos = true